.divContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 10rem;
  padding: 1rem 0.7rem;
  gap: 1rem;
}

.divAvatar {
  width: calc(100% * 1 / 6);
  height: 100%;
  padding-top: 2rem;
}

.divImg {
  background: url("https://i.pravatar.cc/320?img=14") center center / cover
    no-repeat rgb(238, 238, 238);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
}

.divContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% * 5 / 6);
  height: 100%;
}

.divTitle {
  height: 20%;

  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divBody {
  height: 50%;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
